:root{
    --primary-color: rgb(38, 38, 37);
    --secundary-color: rgb(88, 32, 6);
    --body-color: rgba(255, 255, 255, 0.582);
    --success-color: rgb(59, 212, 59);
    --error-color: rgb(212, 59, 59);
    --info-color: rgb(99, 165, 240);
    --white-color: rgb(255, 255, 255);
}


* {
    font-family: 'Overpass', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
}


header{
    padding: 20px 0px;
    text-align: center;
    margin: auto;
    width: 100%;
    align-items: center;
    background-color: var(--primary-color);
    position: fixed;
}


body{
    margin: 0;
    width: 100%;
    padding: 0;
    background-color: var(--body-color);  
}

#button-hamburger{
    display: none;
}