:root{
    --primary-color: #1E1E1E;
    --dark-color: rgb(136, 136, 136);
    --secundary-color: rgb(88, 32, 6);
    --body-color: rgba(255, 255, 255, 0.582);
    --success-color: rgb(59, 212, 59);
    --error-color: rgb(212, 59, 59);
    --info-color: rgb(99, 165, 240);
    --white-color: rgb(255, 255, 255);
    --black-color: rgb(0, 0, 0);
    --black-transparent-color: rgba(0, 0, 0, 0.671);
}


* {
    font-family: 'Overpass', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
}


header{
    padding: 20px 0px;
    text-align: center;
    margin: auto;
    width: 100%;
    align-items: center;
    background-color: var(--primary-color);
    position: fixed;
    z-index: 9999;
}

/* Scrool bar */
::-webkit-scrollbar {
    width: 10px;
    background-color: var(--body-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-color);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}

.scrollbar-mozilla {
    scrollbar-color: var(--primary-color) var(--dark-color);
    scrollbar-width: thin;
}

.scrollbar-mozilla::-webkit-scrollbar-thumb {
    background-color: var(--dark-color);
}

.scrollbar-mozilla::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}



body{
    margin: 0;
    width: 100%;
    padding: 0;
    background-color: var(--body-color);  
}

#carousel{
    width: 100%;
    margin:0px auto;
}


#button-hamburger{
    color: var(--white-color);
    display: none;
    cursor: pointer;
}


#footer{
    width: 100%;
    margin: auto;
    padding: 40px 0px 0px 0px;
    background-color: var(--primary-color);
    vertical-align: top;
}