@media screen and (max-width:1100px){
    .logomarca{
        display: none;
    }
}

@media screen and (max-width:1024px){
    .caixa-esquerda,
    .caixa-direita{
        width: calc(100% - 80px);
    }

    .form-agendamento{
        top: 0;
        position: static !important;
        border-radius: 0px;
        margin: auto;
    }

    .sobrenos{
        top: 0px;
        position: normal !important;
        margin-bottom: 0px;
    }

    .slider-container .slider-content .slider-single .slider-single-image {
        height:auto;
    }
}

@media screen and (max-width:800px){
    .slider-container .slider-content{
        width: 80%;
    }

    .container-opcoes{
        display: block;
    }
    .acesso,
    .logo{
        text-align: center;
        margin-bottom: 30px;
    }

    .logomarca{
        display: block;
        top:0px;
    }
    #button-hamburger{
        display:block;
        margin-right: 20px;   
    }
    
    .opcoes{
        display: block;
    }
    .opcoes li{
        margin: 10px 0px;
    }
    
    
    .navegacao,
    .opcoes li:nth-last-child(-n+4) {
        display: none;
    }
    header{
        text-align: end;
    }

    .slider-container .slider-content .slider-single .slider-single-image {
        width: 125%;
    }
}



@media screen and (max-width:400px){
    #carousel button{
        display: none;
    }
    .caixa-direita form{
        width: 100%;
    }
}
